<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>宇景</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../qianduan/Main/css/commomMain.css">
	<link rel="stylesheet" href="../qianduan/Main/css/common.css">
	<link rel="stylesheet" href="../qianduan/Main/profile/css/video.css">
	<link rel="stylesheet" href="../qianduan/Main/css/font-awesome.min.css">
</head>

<body>
<nav id="mynav" class="pc">
	<div>
		<div>
			<h1 id="logo"><a href="../"><img src="../qianduan/img/logo.png" alt=""></a></h1>
		</div>
		<div class="links">
			<ul class="nav navbar-nav">
				<li><a href="../">首&nbsp;&nbsp;&nbsp;页</a></li>
				<li id="down"><a href="../Prouce_center/index">产品中心</a>
					<div id="mynav_procude_center" class="pc">
						<div id="mynav_procude_center_left">
							<ul>
								<li><a href="">> YJ-S 成套系统</a></li>
								<li><a href="">> YJ-MPSS 蛋白质分离器</a></li>
								<li><a href="">> YJ-MFCB 复合型生物机械过滤器</a></li>
								<li><a href="">> YJ-ST 多功能生态处理器</a></li>
								<li><a href="">> YJ-UV 紫外线消毒处理器</a></li>
								<li><a href="">>YJ-PPB 养殖池</a></li>
								<li><a href="">> YJ-PARTS 养殖池相关配件</a></li>
							</ul>
						</div>
						<div id="mynav_procude_center_right">
							<div class="pre_img">
								<img src="" alt="">
							</div>
						</div>
					</div>
					<div id="toc"></div>
				</li>
				<li><a href="../soltion/index">解决方案</a></li>
				<li><a href="../physical/index">实物案例</a></li>
				<li><a href="../services/index">技术服务</a></li>
				<li><a href="../profile/index">企业介绍</a></li>
				<li><a href="../news/index">新闻资讯</a></li>
				<li><a href="../contact/index">联系我们</a></li>
				<li><a href="">CM/EN</a></li>
			</ul>
		</div>

		<div id="sear">
			<div id="searchicon">
				<img src="../qianduan/img/search.png" alt="">
				<div id="amazing"></div>
			</div>

			<div id="search" class="pc">
				<p><span class="search_top_left">搜索宇景网站</span><span id="search_top_off">关闭</span></p>
				<br>
				<form action="" id="search_form">
					<input id="search_form_text" type="text" placeholder="请输入您要搜索的关键词">
					<input id="search_form_btn" type="button" value="SEARCH">
				</form>
			</div>
		</div>
	</div>
</nav>
<div id="banner">
	<img src="../qianduan/img/mainbanner.png" alt="">
</div>

<div class="main" id="center">
	<div id="center_left" class="floatl">
		<div id="center_left_top">
			<p class="center_left_top_tit">C</p>
			<p class="center_left_top_txt">
				<span>公司介绍</span><br>
				<span>ompany profile</span>
			</p>
		</div>
		<div id="center_left_list">
			<ul>
				<li><a href="./index">
					<p><span>公司介绍</span><img class="left_arrowr" src="../qianduan/img/left_arrowr_r.png" alt=""></p>
				</a></li>

				<li><a href="./qualification">
					<p><span>企业资质</span><img class="left_arrowr" src="../qianduan/img/left_arrowr_r.png" alt=""></p>
				</a></li>

				<li  class="cliked"><a href="./culture">
					<p><span>企业文化</span><img class="left_arrowr" src="../qianduan/img/left_arrowr_rblue.png" alt=""></p>
				</a></li>

				<li><a href="./organ.html">
					<p><span>组织架构</span><img class="left_arrowr" src="../qianduan/img/left_arrowr_r.png" alt=""></p>
				</a></li>

				<li><a href="./environment.html">
					<p><span>公司环境</span><img class="left_arrowr" src="../qianduan/img/left_arrowr_r.png" alt=""></p>
				</a></li>

				<li><a href="./video.html">
					<p><span>公司视频</span><img class="left_arrowr" src="../qianduan/img/left_arrowr_r.png" alt=""></p>
				</a></li>

			</ul>
		</div>
	</div>

	<div id="center_right" class="floatr">
		<div id="center_right_top">
						<span  class="floatl">
							<h3>企业文化</h3> / company culture
						</span>
			<span class="floatr">
							<img class="topmap" src="../qianduan/img/pos.png" alt="">
							当前位置：<a href="../">首页</a>><a href="./index">企业介绍</a>><a href="./video.html">公司视频</a>
				</span>
			</div>

			<div id="center_right_main"  >
				<ul >
					<li th:each="ob:${video.list}" th:object="${ob}">
						<video th:src="${all}+'/'+*{path}" src="../qianduan/Main/profile/img/video_1.png" alt="" style="width: 250px;height: 175px;" controls></video>
					</li>
				</ul>
			</div>

			<div id="center_right_bottom">
				<span id="goleft" class="spanbottom"><img src="../qianduan/img/arrow_left.png"></img></span>
				<div id="center_right_bottom_list">
						<span th:each="pa:${pages}">
						<input type="button"  th:value="${pa}" >
					</span>
				</div>
				<span id="goright" class="spanbottom"><img src="../qianduan/img/arrow_right.png"></img></span>
			</div>
		</div>
	</div>

	<!-- 页脚 -->
	<footer id="footer_body" class="pc">
		<div id="footer">
			<div id="footer_left">
				<img src="../qianduan/img/footer_logo.png" alt="">
				<span class="footer_txt_top"><b>联系电话</b>：020-36013290</span>
				<span><b>邮箱</b>：3418547545@qq.com</span>
				<span><b>地址</b>：广州市白云区黄石西路466号318房</span>
			</div>

			<div id="footer_right">
				<!-- 1  产品中心-->
				<ul>
					<li class="footer_right_top">产品中心</li>
					<li>
						<a href="">YJ-S 成套系统</a>
					</li>
					<li>
						<a href="">MJ-MPSS 蛋白质分离器</a>
					</li>
					<li>
						<a href="">YJ-MFCB 复合型生物机械过滤器</a>
					</li>
					<li>
						<a href="">YJ-ST 多功能生态处理器</a>
					</li>
					<li>
						<a href="">YJ-PPB 养殖池</a>
					</li>
					<li>
						<a href="">YJ-PARTS 养殖池相关配件</a>
					</li>
				</ul>
				<!-- 2 实物案例-->
				<ul>
					<li class="footer_right_top">实物案例</li>
					<li>
						<a href="">YJ-S 成套系统</a>
					</li>
					<li>
						<a href="">MJ-MPSS 蛋白质分离器</a>
					</li>
					<li>
						<a href="">YJ-MFCB 复合型生物机械过滤器</a>
					</li>
					<li>
						<a href="">YJ-ST 多功能生态处理器</a>
					</li>
					<li>
						<a href="">YJ-PPB 养殖池</a>
					</li>
					<li>
						<a href="">YJ-PARTS 养殖池相关配件</a>
					</li>
				</ul>
				<!-- 3 解决方案-->
				<ul>
					<li class="footer_right_top">解决方案</li>
					<li>
						<a href="">室内养殖</a>
						</a>
					</li>
					<li>
						<a href="">室外养殖</a>
					</li>
					<li>
						...
					</li>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
				</ul>
				<!-- 4 技术服务-->
				<ul>
					<li class="footer_right_top">技术服务</li>
					<li>
						<a href="">常见问题</a>
					</li>
					<li>
						<a href="">服务流程</a>
					</li>
					<li>
						<a href="">服务支持</a>
					</li>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
				</ul>
				<!-- 5 公司介绍-->
				<ul>
					<li class="footer_right_top">公司介绍</li>
					<li>
						<a href="">企业介绍</a>
					</li>
					<li>
						<a href="">企业资质</a>
					</li>
					<li>
						<a href="">企业文化</a>
					</li>
					<li>
						<a href="">组织架构</a>
					</li>
					<li>
						<a href="">公司环境</a>
					</li>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
				</ul>
				<!-- 6 新闻中心-->
				<ul>
					<li class="footer_right_top">新闻中心</li>
					<li>
						<a href="">公司新闻</a>
					</li>
					<li>
						<a href="">行业新闻</a>
					</li>
					<li>
						<a href="">客户反馈</a>
					</li>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
				</ul>
			</div>
		</div>
		<div id="footer_bottom">
			<div>
				<span id="footer_bottom_left">
					Copyright © 2018 广州宇景水产科技有限公司 版权所有
				</span>
				<span id="footer_bottom_right">
					<ul>
						<li>
							<a href="">法律声明</a>
						</li>
						<li>
							<a href="">企业邮箱</a>
						</li>
						<li>
							<a href="">联系我们</a>
						</li>
					</ul>
				</span>
			</div>
		</div>
	</footer>

	<div id="float" class="pc">
		<ul>
			<li>
				<a href=""><img src="../qianduan/img/float1.png" alt=""></a>
			</li>
			<li><span>020-36013290</span><img src="../qianduan/img/float2.png" alt=""></li>
			<li>
				<a href=""><img src="../qianduan/img/float3.png" alt=""></a>
			</li>
			<li>
				<a href=""><img src="../qianduan/img/float4.png" alt=""></a>
			</li>
			<li id="totop"><img src="../qianduan/img/float5.png" alt=""></li>
		</ul>
	</div>

	<script src="../qianduan/Main/profile/js/video.js"></script>
<script src="../qianduan/Main/js/common.js"></script>
</body>

</html>