<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>宇景</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="/yujing/qianduan/Main/Prouce_center/js/jquery.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/yujing/qianduan/Main/css/common.css">
	<link rel="stylesheet" href="/yujing/qianduan/Main/css/commomMain.css">
	<link rel="stylesheet" href="/yujing/qianduan/Main/Prouce_center/css/detail.css">
	<link rel="stylesheet" type="text/css" href="/yujing/qianduan/Main/css/commom_media.css"/>
	<link rel="stylesheet" href="/yujing/qianduan/Main/js/layui/css/layui.css">

</head>

<body>
	<nav id="mynav" class="pc">
				<div>
					<div>
						<h1 id="logo"><a href="/yujing"><img src="/yujing/qianduan/img/logo.png" alt=""></a></h1>
					</div>
					<div class="links">
						<ul class="nav navbar-nav">
							<li><a href="/yujing">首&nbsp;&nbsp;&nbsp;页</a></li>
							<li id="down"><a href="/yujing/Prouce_center/index">产品中心</a>
								<div id="mynav_procude_center" class="pc">
									<div id="mynav_procude_center_left">
										<ul>
											<li  th:each="type:${types}" th:text="*{type.type_name}"><a th:href="'/yujing/Prouce_center/index/'+*{type.id}"> YJ-S 成套系统</a></li>
											<!--<li><a href="">> YJ-S 成套系统</a></li>-->
											<!--<li><a href="">> YJ-MPSS 蛋白质分离器</a></li>-->
											<!--<li><a href="">> YJ-MFCB 复合型生物机械过滤器</a></li>-->
											<!--<li><a href="">> YJ-ST 多功能生态处理器</a></li>-->
											<!--<li><a href="">> YJ-UV 紫外线消毒处理器</a></li>-->
											<!--<li><a href="">>YJ-PPB 养殖池</a></li>-->
											<!--<li><a href="">> YJ-PARTS 养殖池相关配件</a></li>-->
										</ul>
									</div>
									<div id="mynav_procude_center_right">
										<div class="pre_img">
											<img src="" alt="">
										</div>
									</div>
								</div>
								<div id="toc"></div>
							</li>

							<li><a href="/yujing/soltion/index">解决方案</a></li>
							<li><a href="/yujing/physical/index">实物案例</a></li>
							<li><a href="/yujing/services/index">技术服务</a></li>
							<li><a href="/yujing/profile/index">企业介绍</a></li>
							<li><a href="/yujing/news/index">新闻资讯</a></li>
							<li><a href="/yujing/contact/index">联系我们</a></li>
							<li><a href="">CM/EN</a></li>
						</ul>
					</div>
		
					<div id="sear">
						<div id="searchicon">
							<img src="/yujing/qianduan/img/search.png" alt="">
							<div id="amazing"></div>
						</div>
						
						<div id="search" class="pc">
							<p><span class="search_top_left">搜索宇景网站</span><span id="search_top_off">关闭</span></p>
							<br>
							<form action="" id="search_form">
								<input id="search_form_text" type="text" placeholder="请输入您要搜索的关键词">
								<input id="search_form_btn" type="button" value="SEARCH">
							</form>
						</div>
					</div>
				</div>
			</nav>

	<div id="banner" class="pc">
		<img src="/yujing/qianduan/img/mainbanner.png" alt="">
	</div>

	<div class="main pc" id="center">
		<div id="center_left">
			<div id="center_left_top">
				<p class="center_left_top_tit">P</p>
				<p class="center_left_top_txt">
					<span>产品中心</span><br>
					<span>roducts cnetr</span>
				</p>
			</div>
			<div id="center_left_list">
				<ul>
					<li th:each="type:${types}">
						<a th:href="'/yujing/Prouce_center/index/'+*{type.id}"><p><span th:text="*{type.type_name}" >YJ-S成套系统</span><img class="left_arrowr" src="/yujing/qianduan/img/left_arrowr_r.png" alt=""></p></a>
					</li>
					<!--<li>-->
						<!--<p><span>YJ-MPSS蛋白质分离器</span><img class="left_arrowr" src="../qianduan/img/left_arrowr_r.png" alt=""></p>-->
					<!--</li>-->
					<!--<li>-->
						<!--<p><span>YJ-MFCB复合型生物机械过滤器</span><img class="left_arrowr" src="../qianduan/img/left_arrowr_r.png" alt=""></p>-->
					<!--</li>-->
					<!--<li>-->
						<!--<p><span>YJ-ST多功能生态处理器</span><img class="left_arrowr" src="../qianduan/img/left_arrowr_r.png" alt=""></p>-->
					<!--</li>-->
					<!--<li>-->
						<!--<p><span>YJ-UV 紫外线消毒处理器</span><img class="left_arrowr" src="../qianduan/img/left_arrowr_r.png" alt=""></p>-->
					<!--</li>-->
					<!--<li>-->
						<!--<p><span>YJ-PPB养殖池</span><img class="left_arrowr" src="../qianduan/img/left_arrowr_r.png" alt=""></p>-->
					<!--</li>-->
					<!--<li>-->
						<!--<p><span>YJ-PARTS</span><img class="left_arrowr" src="../qianduan/img/left_arrowr_r.png" alt=""></p>-->
					<!--</li>-->
				</ul>
			</div>
		</div>
		<div id="center_right">
			<div id="center_right_top">
				<span>
					<h3>产品中心</h3> / products center
				</span>
				<span>
					<img class="topmap" src="/yujing/qianduan/img/pos.png" alt="">
						当前位置：<a href="/yujing">首页</a> > <a href="./index">产品中心</a>
				</span>
			</div>

			<div id="center_right_main">
				<div class="top">
					<div id="bigimg">
						<div id="dimg">
							<img th:src="${product.img}" src="/yujing/qianduan/Main/Prouce_center/img/detail_2.png" alt="">
							<div id="block"></div>
						</div>
					</div>
					<div id="zoom"> <img th:src="${product.img}" src="/yujing/qianduan/Main/Prouce_center/img/detail_2.png" alt=""></div>
					<div class="topright">
						<div id="imglist">
							<ul>
								<li th:each="imgs:${product.product_imgs}"><img  th:src="*{imgs.i_img}" src="/yujing/qianduan/Main/Prouce_center/img/detail_1.png" alt=""></li>
								<!--<li class="clicked"><img src="../../qianduan/Main/Prouce_center/img/detail_2.png" alt=""></li>-->
								<!--<li><img src="../../qianduan/Main/Prouce_center/img/detail_3.png" alt=""></li>-->
								<!--<li><img src="../../qianduan/Main/Prouce_center/img/detail_4.png" alt=""></li>-->
							</ul>
						</div>

						<div id="description">
							<p><span th:text="'名称：'+${product.name}" class="tit">旋流式蛋白质分离器</span><span>全新首发专利产品，拥有多项领先技术，高效技术蛋白质分离，高效降低水中氨氮硝酸</span></p>
							<p><span class="tit">销售价：</span><span th:text="${product.price}">￥15,000元起</span></p>
							<p><span class="tit">起批量：</span><span th:text="${product.batch_quantity}">询020-36013290</span></p>
							<br/>
							<p><input type="button" id="contactus" value="联系我们"></p>
						</div>
					</div>
				</div>

				<div id="input_turn">
					<input type="button" value="上一产品：CL-UV 紫外线消毒处理器">
					<input type="button" value="下一产品：CL-SYSTEM工厂化养鱼系统">
				</div>

				<div id="bottom">
					<div id="selectlist">
						<div class="on">产品详细</div><img class="line" src="/yujing/qianduan/Main/Prouce_center/img/line.png" alt="">
						<div>规格参数</div><img class="line" src="/yujing/qianduan/Main/Prouce_center/img/line.png" alt="">
						<div>安装流程</div><img class="line" src="/yujing/qianduan/Main/Prouce_center/img/line.png" alt="">
						<div>应用指南</div>
					</div>
					<div class="selectbox selecton">
						<div class="left">
							<img th:src="${product.product_details.img}" src="/yujing/qianduan/Main/Prouce_center/img/show_1.png" alt="">
						</div>
						<div class="right" width="100%">
							<p class="bigger">功能特点:</p>
							<p th:text="${product.product_details.characteristic}">
								具有旋流浓缩集污功能 <br>
								去除氨氮和有机物质全自动泡沫收集装置 <br>
								臭氧消毒、杀菌、灭藻、除色除味<br>
							</p>
							<p class="bigger">应用领域:</p>
							<p th:text="${product.product_details.area}">工厂厂化循环水养殖系统,高位池养虾。</p>
							<p class="blue"><i th:text="${product.product_details.patent}">(本产品已申请国家发明专利,专利号: ZL 2013 2 0070383.0 )</i></p>
						</div>
					</div>
					<div class="selectbox"><img th:src="${product.parameterimg}" src="/yujing/qianduan/Main/Prouce_center/img/table.png" alt=""></div>
					<div class="selectbox" id="selectbox_process">
						<ol>
							<li th:each="flow:${product.product_flows}">
								<div class="selectbox_process_box"><img th:src="*{flow.img}" src="/yujing/qianduan/Main/Prouce_center/img/table.png" alt=""></div>
								<p th:text="*{flow.text}" class="selectbox_process_txt">第一，按照商家的说明正确的组装蛋分。出水管连接在反应室上，调节套管一般在出水管上安装，使得水管与反应室之间组成一个连通器.</p>
							</li>
							<!--<li>-->
								<!--<div class="selectbox_process_box"></div>-->
								<!--<p class="selectbox_process_txt">第二，蛋分安装过程之前，需确定蛋分安装位置。蛋分可安装在海水缸内部或者外部，一定要准备好充裕的管道和合适的进水泵。"</p>-->
							<!--</li>-->
							<!--<li>-->
								<!--<div class="selectbox_process_box"></div>-->
								<!--<p class="selectbox_process_txt">第三，要确定蛋分安装的高度，保证蛋分在一个水平的状态安放，很小的高度差距都有可能造成蛋分爆冲或者是水体不能完全浸入，导致蛋分无法正常工作。蛋分安装过程中，要确保蛋分水位正常，水位高的话，可以将蛋分安置在一个支架上面。</p>-->
							<!--</li>-->
							<!--<li>-->
								<!--<div class="selectbox_process_box"></div>-->
								<!--<p class="selectbox_process_txt">第四，蛋分安装过程基本完成，此时需要检查蛋分包装箱，没有遗忘安装的零件；确认所有管件连接正常及电源安全。</p>-->
							<!--</li>-->
						</ol>
					</div>
					<div class="selectbox" id="selectbox_show" th:text="${product.guide}">
						<p>蛋白质分离器,也叫蛋白机,是利用水中的气泡表面可以吸附混杂在水中的各种颗粒状的污垢以及可溶性的有机物的原理,采用充氧设备或旋涡泵产生大量的气泡,有效地清除水中的有机物颗粒、蛋白质、有害金属离子等,是海水缸的必备器材之一.</p>
						<p>下面介绍几种目前市面上比较主流的蛋白质分离器种类：</p>
						<p>【Air stone (气泡石)式】这是市面上最低档但也是最便宜的一种蛋白机,只能推动很小的水量,适合很小的鱼缸并且饲养很少的生物.</p>
						<p>【Venturi 式】是一般较经济型的蛋白机,比较适合中小型海水缸.选购时要注意查看是否容易拆洗,是否有大型的污水储存槽等.</p>
						<p>【Needle Wheel（针叶式）】 这是目前最流行的一种高档蛋白机类型,利用将空气混入进水,再由马达的针叶将空气搅散的设计原理,所得到的气泡非常细且多,而且马达所需的瓦数和进水量也
							不大,所处理的水滞流时间较长,可以增加蛋白质和空气凝结的时间,功效非常好.</p>
						<p>【beckett 气阀】这种设计的蛋白机需要用很强大的水压来推动,推出来的气泡非常细,但是水流量很大,耗电也较大,一般比较适合2000
							公升以上的大型珊瑚缸或鱼缸.此设计要注意选购正确的马达,要购买压力大的外接式马达,尽量选购高度更高的设计可以大大的延长水滞流在蛋白机内的时间,大幅提升 效率.另外也要注意气阀不被阻塞,蛋白机管壁也要常清洗."</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 页脚 -->
	<footer id="footer_body" class="pc">
			<div id="footer">
				<div id="footer_left">
					<img src="../../qianduan/img/footer_logo.png" alt="">
					<span class="footer_txt_top"><b>联系电话</b>：020-36013290</span>
					<span><b>邮箱</b>：3418547545@qq.com</span>
					<span><b>地址</b>：广州市白云区黄石西路466号318房</span>
				</div>
	
				<div id="footer_right">
					<!-- 1  产品中心-->
					<ul>
						<li class="footer_right_top">产品中心</li>
						<li>
							<a href="">YJ-S 成套系统</a>
						</li>
						<li>
							<a href="">MJ-MPSS 蛋白质分离器</a>
						</li>
						<li>
							<a href="">YJ-MFCB 复合型生物机械过滤器</a>
						</li>
						<li>
							<a href="">YJ-ST 多功能生态处理器</a>
						</li>
						<li>
							<a href="">YJ-PPB 养殖池</a>
						</li>
						<li>
							<a href="">YJ-PARTS 养殖池相关配件</a>
						</li>
					</ul>
					<!-- 2 实物案例-->
					<ul>
						<li class="footer_right_top">实物案例</li>
						<li>
							<a href="">YJ-S 成套系统</a>
						</li>
						<li>
							<a href="">MJ-MPSS 蛋白质分离器</a>
						</li>
						<li>
							<a href="">YJ-MFCB 复合型生物机械过滤器</a>
						</li>
						<li>
							<a href="">YJ-ST 多功能生态处理器</a>
						</li>
						<li>
							<a href="">YJ-PPB 养殖池</a>
						</li>
						<li>
							<a href="">YJ-PARTS 养殖池相关配件</a>
						</li>
					</ul>
					<!-- 3 解决方案-->
					<ul>
						<li class="footer_right_top">解决方案</li>
						<li>
							<a href="">室内养殖</a>
							</a>
						</li>
						<li>
							<a href="">室外养殖</a>
						</li>
						<li>
							...
						</li>
						<li>
							<a href=""></a>
						</li>
						<li>
							<a href=""></a>
						</li>
						<li>
							<a href=""></a>
						</li>
						<li>
							<a href=""></a>
						</li>
					</ul>
					<!-- 4 技术服务-->
					<ul>
						<li class="footer_right_top">技术服务</li>
						<li>
							<a href="">常见问题</a>
						</li>
						<li>
							<a href="">服务流程</a>
						</li>
						<li>
							<a href="">服务支持</a>
						</li>
						<li>
							<a href=""></a>
						</li>
						<li>
							<a href=""></a>
						</li>
						<li>
							<a href=""></a>
						</li>
						<li>
							<a href=""></a>
						</li>
					</ul>
					<!-- 5 公司介绍-->
					<ul>
						<li class="footer_right_top">公司介绍</li>
						<li>
							<a href="">企业介绍</a>
						</li>
						<li>
							<a href="">企业资质</a>
						</li>
						<li>
							<a href="">企业文化</a>
						</li>
						<li>
							<a href="">组织架构</a>
						</li>
						<li>
							<a href="">公司环境</a>
						</li>
						<li>
							<a href=""></a>
						</li>
						<li>
							<a href=""></a>
						</li>
					</ul>
					<!-- 6 新闻中心-->
					<ul>
						<li class="footer_right_top">新闻中心</li>
						<li>
							<a href="">公司新闻</a>
						</li>
						<li>
							<a href="">行业新闻</a>
						</li>
						<li>
							<a href="">客户反馈</a>
						</li>
						<li>
							<a href=""></a>
						</li>
						<li>
							<a href=""></a>
						</li>
						<li>
							<a href=""></a>
						</li>
						<li>
							<a href=""></a>
						</li>
					</ul>
				</div>
			</div>
			<div id="footer_bottom">
				<div>
				<span id="footer_bottom_left">
					Copyright © 2018 广州宇景水产科技有限公司 版权所有
				</span>
				<span id="footer_bottom_right">
					<ul>
						<li>
							<a href="">法律声明</a>
						</li>
						<li>
							<a href="">企业邮箱</a>
						</li>
						<li>
							<a href="">联系我们</a>
						</li>
					</ul>
				</span>
				</div>
			</div>
		</footer>

	<div id="float" class="pc">
		<ul>
			<li>
				<a href=""><img src="../../qianduan/img/float1.png" alt=""></a>
			</li>
			<li><span>020-36013290</span><img src="../qianduan/img/float2.png" alt=""></li>
			<li>
				<a href=""><img src="../../qianduan/img/float3.png" alt=""></a>
			</li>
			<li>
				<a href=""><img src="../../qianduan/img/float4.png" alt=""></a>
			</li>
			<li id="totop"><img src="../../qianduan/img/float5.png" alt=""></li>
		</ul>
	</div>
	<!--手机端-->
		<div class="visible-xs-block">
			<nav class="navbar navbar-default" id="m-nav" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
							<span class="sr-only">切换导航</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1 class="navbar-brand"><a href="./index.html"><img src="/yujing/img/logo.png" id="m-logo" alt=""></a></h1>
					</div>
					<div class="collapse navbar-collapse" id="example-navbar-collapse">
						<ul class="nav navbar-nav">
							<li><a href="/yujing">首&nbsp;&nbsp;&nbsp;页</a></li>
							<li><a href="/yujing/Prouce_center/index">产品中心</a></li>
							<li><a href="/yujing/soltion/index">解决方案</a></li>
							<li><a href="/yujing/physical/index">实物案例</a></li>
							<li><a href="/yujing/services/index">技术服务</a></li>
							<li><a href="/yujing/profile/index">企业介绍</a></li>
							<li><a href="/yujing/news/index">新闻资讯</a></li>
							<li><a href="/yujing/contact/index">联系我们</a></li>
							<li><a href="">CM/EN</a></li>
						</ul>
					</div>
				</div>
			</nav>
			<div class="mobile_banner" >
				<img src="/yujing/qianduan/img/mainbanner.png" alt="">
			</div>
			<img src="/yujing/qianduan/img/detail_2.png" style="border: 2px solid #b2b2b2;margin-top: 1rem" width="100%">
			<ul class="layui-timeline">
				<li class="layui-timeline-item">
					<i class="layui-icon layui-timeline-axis"></i>
					<div class="layui-timeline-content layui-text">
						<h3 class="layui-timeline-title" th:text="'名称：'+${product.name}" >名称：旋流式蛋白质分离器</h3>
						<p>
							<img width="80rem" height="80rem" src="/yujing/qianduan/img/detail_1.png" alt=""></br>
							<span style="text-align: left"> 全新首发专利产品，拥有多项领先技术，</br>高效技术蛋白质分离，高效降低水中氨氮硝酸</span>
						</p>
					</div>
				</li>
				<li class="layui-timeline-item">
					<i class="layui-icon layui-timeline-axis"></i>
					<div class="layui-timeline-content layui-text">
						<h3 class="layui-timeline-title" th:text="'销售价:'+${product.price}">销售价:￥15,000元起</h3>
						<img width="80rem" height="80rem" src="/yujing/qianduan/img/detail_2.png" alt="">
					</div>
				</li>
				<li class="layui-timeline-item">
					<i class="layui-icon layui-timeline-axis"></i>
					<div class="layui-timeline-content layui-text">
						<h3 class="layui-timeline-title" th:text="'起批量:'+${product.batch_quantity}">起批量:询020-36013290</h3>
						<img width="80rem" height="80rem" src="/yujing/qianduan/img/detail_3.png" alt="">
					</div>
				</li>
				<li class="layui-timeline-item">
					<i class="layui-icon layui-timeline-axis"></i>
					<div class="layui-timeline-content layui-text">
						<div class="layui-timeline-title">联系人</div>
					</div>
				</li>
			</ul>
			<div class="layui-tab layui-tab-card">
				<ul class="layui-tab-title">
					<li class="layui-this">产品详细</li>
					<li>规格参数</li>
					<li>安装流程</li>
					<li>应用指南</li>
				</ul>
				<div class="layui-tab-content" style="height: auto;">
					<div class="layui-tab-item layui-show">
						<div id="pro_detail">
							<div width="50%"><img src="/yujing/qianduan/Main/Prouce_center/img/show_1.png" alt=""></div>
							<div width="50%">
								<div class="mobile_h">
								<p class="bigger">功能特点:</p>
								<p th:text="${product.product_details.characteristic}">
									具有旋流浓缩集污功能 <br>
									去除氨氮和有机物质全自动泡沫收集装置 <br>
									臭氧消毒、杀菌、灭藻、除色除味<br>
								</p>
								<p class="bigger">应用领域:</p>
								<p th:text="${product.product_details.area}">工厂厂化循环水养殖系统,高位池养虾。</p>
								<p class="blue"><i th:text="${product.product_details.patent}">(本产品已申请国家发明专利,专利号: ZL 2013 2 0070383.0 )</i></p>
							</div>
							</div>>
						</div>
					</div>
					<div class="layui-tab-item">
						<img th:src="${product.parameterimg}" src="/yujing/qianduan/Main/Prouce_center/img/table.png" alt="">
					</div>
					<div class="layui-tab-item">
						<ol>
							<li th:each="flow:${product.product_flows}">
								<div class="mobile_h">
								<div><img th:src="*{flow.img}" src="/yujing/qianduan/Main/Prouce_center/img/table.png" alt=""></div>
								<p th:text="*{flow.text}">第一，按照商家的说明正确的组装蛋分。出水管连接在反应室上，调节套管一般在出水管上安装，使得水管与反应室之间组成一个连通器.</p>
								</div>>
							</li>
						</ol>
					</div>
					<div class="layui-tab-item">
						<div class="mobile_h" th:text="${product.guide}">
						</div>
					</div>
				</div>
			</div>
			<div class="margin_top10">
				<input class="turn floatl" type="button" value="Up">
				<input class="turn floatr" type="button" value="Down">
			</div>

		</div>
		<script src="/yujing/qianduan/Main/js/common.js"></script>
		<script src="/yujing/qianduan/Main/Prouce_center/js/detail.js"></script>
		<script src="/yujing/qianduan/Main/js/layui/layui.js"></script>
	<script>
		layui.use('element', function () {
			var $ = layui.jquery
				, element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
		});
	</script>
</body>

</html>