#center {
  margin-bottom: 0;
  height: 1100px;
}
#center #center_right {
  height: 100%;
  position: relative;
}
#center #center_right #center_right_main {
  width: 100%;
  text-align: center;
}
#center #center_right #center_right_main .tit {
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0;
}
#center #center_right #center_right_main .describe {
  margin-bottom: 1rem;
}
#center #center_right #center_right_main .describe span {
  margin-right: 3rem;
}
#center #center_right #center_right_main .page_topimg {
  width: 100%;
  height: 400px;
}
#center #center_right #center_right_main div {
  margin-top: 2rem;
  text-align: left;
  font-size: 1.6rem;
}
#center #center_right #center_right_main div p {
  margin: 1.5rem 0;
}
