#center #center_right #center_right_main ul {
  width: 100%;
  margin-top: 2rem;
}
#center #center_right #center_right_main ul li {
  height: 27rem;
  width: 26.5rem;
  box-sizing: border-box;
  float: left;
  margin: 0  2.2rem 5rem 0;
}
#center #center_right #center_right_main ul li a:hover {
  color: #0070BB;
}
#center #center_right #center_right_main ul li:nth-child(7),
#center #center_right #center_right_main ul li:nth-child(8),
#center #center_right #center_right_main ul li:nth-child(9) {
  margin-bottom: 0rem;
}
#center #center_right #center_right_main ul li:nth-child(3n) {
  margin-right: 0rem;
}
#center #center_right #center_right_main ul li img {
  width: 26.5rem;
}
#center #center_right #center_right_main ul li span {
  margin-top: 1rem;
  display: block;
  text-align: center;
}
#center #center_right #center_right_bottom {
  margin: 3rem 0;
  text-align: center;
}
#center #center_right #center_right_bottom input,
#center #center_right #center_right_bottom .spanbottom {
  height: 3rem;
  line-height: 3rem;
  background-color: white;
  border: 0.1rem solid #E7E7E7;
}
#center #center_right #center_right_bottom input {
  width: 5rem;
  color: #6C6C6C;
}
#center #center_right #center_right_bottom input:hover {
  background-color: #0072A0;
  color: white;
}
#center #center_right #center_right_bottom .bottom_hover {
  background-color: #0072BB;
  color: white;
}
#center #center_right #center_right_bottom .bottom_hover:hover {
  background-color: #0070BB;
  color: white;
}
#center #center_right #center_right_bottom #center_right_bottom_list {
  display: inline-block;
}
#center #center_right #center_right_bottom .spanbottom {
  width: 7rem;
  display: inline-block;
}
#center #center_right #center_right_bottom .spanbottom i {
  height: 3rem;
  line-height: 3rem;
}
#center #center_right #center_right_bottom .spanbottom:hover {
  background-color: #d8d8d8;
}
