@media (max-width:768px){
    .pc{
        display: none;
    }
    .navbar{
    	margin-bottom: 0;
    }
    .navbar-header{
		height: 70px;
	}
	
	#m-nav{
		position: relative;
		z-index: 999;
	}
	
	.navbar-brand{		
		padding: 10px 50px;
	}
	#m-logo{
		height: 50px;
		width: 60px;
	}
		
	#example-navbar-collapse {
		position: absolute;
		background-color: white;
		right: 18px;
	}
	.small_box{
		width: 45%;
		float: left;
		margin-left: 3%; 
		height: 154px; 
		margin-bottom: 10px;		
	}
	.small_box span{
		font-size: 12px;
	}
	.small_box img{
		width: 100%;
		height: 130px;
	}
	.w100{
		width: 100%;
	}
	.height_auto{
		height: auto;
	}
	
	.mobile_banner img{
      height: 160px;
      width: 100%;
  }
  .small_box_img {
  	    width: 45%;
		float: left;
		margin-left: 3%; 
		height: 140px; 
		margin-bottom: 10px;	
  }
  .small_box_img img{
  	width: 100%;
		height: 130px;
  }
  .dingwei_top{
      position: relative;  
  }
  .dingwei_bottom{
      position: absolute;  
  }
  .visible-xs-block .nav li{
  	text-decoration: underline red ;
  	-moz-text-decoration-style: 5px;
  }
	.mobile_h{
		padding: 10px 15px;
		line-height: 24px;
	}
	.height_auto img{
		width: 100%;
	}
	.visible-xs-block .turn:hover{
		color: white;
		background-color: #0B73B4;
	}
	.visible-xs-block .margin_top10{
		display: flex;
		flex-flow: row;
	}
	.visible-xs-block .turn{
		width: 48%;
		background-color: #F1F1F1;
		color: #000;
		height: 5rem;
		line-height: 5rem;
		border-radius: 5rem;
	}
	.pro_det_sma{
		height: 100px;
		width: 100px;
	}
	.pro_det_sma img{
		height: 80px;
		width: 80px;
	}
	.marginauto{
		padding: 5%;
		height: 60px;
		width: 50px;
	}
}
