<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/layui.css"/>
    <script type="text/javascript" src="js/layui.js"></script>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/wangEditor.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $.ajax({
                url:"selectproducttype",
                type:"GET",
                success:function (res) {
                    $.each(res.data,function (res,res2) {
                        $("#radiodemo").append(' <input type="radio" name="type" value="'+res2.id+'" title="'+res2.type_name+'">');
                    })
                }
            })
        });
    </script>
</head>
<div style="padding: 20px 0px 0px 220px; height: 800px;overflow-y:scroll;" id="bodytext">
    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
            <li class="layui-this">添加产品案例</li>
            <li>管理产品案例</li>
        </ul>
        <div class="layui-tab-content" style="height: 720px;overflow-y:scroll; width:1400px;float: left ">
            <div class="layui-tab-item layui-show" s>
                <form class="layui-form" action="">
                    <div class="layui-form-item" id="radiodemo">
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">名称</label>
                        <div class="layui-input-block">
                            <input id="name" type="text" name="name" required lay-verify="required"
                                   placeholder="请输入名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">销售价</label>
                        <div class="layui-input-block">
                            <input id="price" type="text" name="price" required lay-verify="required"
                                   placeholder="请输入销售价" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">起批量</label>
                        <div class="layui-input-block">
                            <input id="batch_quantity" type="text" name="batch_quantity" required lay-verify="required"
                                   placeholder="请输入起批量" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">应用指南</label>
                        <div class="layui-input-block">
                            <textarea id="guide" name="guide" placeholder="请输入内容" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">功能特点</label>
                        <div class="layui-input-block">
                            <textarea id="characteristic" name="characteristic" placeholder="请输入内容" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">应用领域</label>
                        <div class="layui-input-block">
                            <textarea id="area" name="area" placeholder="请输入内容" class="layui-textarea"></textarea>
                        </div>
                    </div>
                </form>
                <div class="layui-form-item">
                    <label class="layui-form-label">产品结构图片名称</label>
                    <div class="layui-input-block">
                        <input id="img_name" type="text" name="img_name" required lay-verify="required" placeholder="请输入产品结构图片名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">产品专利号</label>
                    <div class="layui-input-block">
                        <input id="patent" type="text" name="patent" required lay-verify="required" placeholder="请输入产品专利号" autocomplete="off" class="layui-input">
                    </div>
                </div><!--//////////////////////////////////////////图片-->
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="img">上传产品结构图片</button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" id="demo">
                    </div>
                </div>
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="img1">上传产品图片（多张）</button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" id="demo1">
                    </div>
                </div>
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="img2">上传产品参数图</button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" id="demo2">
                    </div>
                </div>
                <hr>
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="img3">上传流程参数图</button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" id="demo3">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">流程详情</label>
                    <div class="layui-input-block">
                        <textarea id="flow_text" name="flow_text" placeholder="请输入详情" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="test6" onclick="sub3()">提交流程</button>
                </div>
                <hr>
                <br>
                <br>
                <button id="btn2" onclick="sub()" class="layui-btn">提交</button>
            </div>
            <div class="layui-tab-item"><!--//////////////////////管理界面-->
                <div class="layui-btn-group demoTable">
                    <button class="layui-btn" data-type="getCheckData">删除选中行数据</button>
                </div>
                <table class="layui-table" lay-data="{width: 1300, height:620, url:'selectproductlimit',where:{'a': 1, 'b': 10}, id:'idTest',toolbar: 'true',limit: 10}" lay-filter="demo">
                    <thead>
                    <tr>
                        <th lay-data="{type:'checkbox', width:60}"></th>
                        <th lay-data="{field:'id', sort:true, width:80}">ID</th>
                        <th lay-data="{field:'name'}">标题</th>
                        <th lay-data="{fixed: 'right', align:'center', toolbar: '#barDemo'}"></th>
                    </tr>
                    </thead>
                </table>
                <div id="test1"></div>
                <script type="text/html" id="barDemo">
                    <!--<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>-->
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                </script>
            </div>
        </div>
        <div style="float: right;width: 250px"><!--/////////////////////类型-->
            <div>
                <table class="layui-table" lay-data="{height:400, url:'selectproducttype', page:false, id:'test'}"
                       lay-filter="test">
                    <thead>
                    <tr>
                        <th lay-data="{field:'id', width:40, sort: true}">ID</th>
                        <th lay-data="{field:'type_name', width:200}">类型名称</th>
                    </tr>
                    </thead>
                </table>
                <button data-method="offset" data-type="auto" class="layui-btn layui-btn-normal" onclick="insert()">
                    添加类型
                </button>
                <button data-method="offset" data-type="auto" class="layui-btn layui-btn-normal" onclick="del()">
                    删除类型
                </button>
            </div>
        </div>
    </div>
</div>
</div>
<div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
</div>
</div>
<script>
    //JavaScript代码区域
    var layer;
    var flow;
    layui.use(['layer','table','laypage','upload'], function () {
        var layer = layui.layer;
        var upload = layui.upload;
        var table = layui.table;
        var laypage = layui.laypage;
        upload.render({  //上传产品结构图片
            elem: '#img'
            ,url: 'uploadproductstructure'
            ,accept: 'images'
            ,before:function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index,file,result) {
                    $('#demo').attr('height','120px');
                    $('#demo').attr('src',result);
                })
            }
            ,done: function (res) {
                //如果上传失败
                layer.closeAll('loading');
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                //上传成功
            }
        })
        upload.render({ //上传产品图片
            elem: '#img1'
            ,url: 'uploadproduct'
            ,accept: 'images'
            //,multiple: true
            //,accept: 'file' //允许上传的文件类型
            //,size: 50 //最大允许上传的文件大小
            //,……
            ,before:function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index,file,result) {
                    $('#demo1').attr('height','120px');
                    $('#demo1').attr('src',result);
                })
            }
            ,done: function(res, index, upload){   //每个文件提交一次触发一次。详见“请求成功的回调”
                layer.closeAll('loading');
                if (res.code > 0) {
                    return layer.msg('上传成功');
                }
            }
        })
        upload.render({ //上传产品参数图
            elem: '#img2'
            ,url: 'uploadproductparameter'
            ,accept: 'images'
            ,before:function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index,file,result) {
                    $('#demo2').attr('height','120px');
                    $('#demo2').attr('src',result);
                })
            }
            ,done: function (res) {
                //如果上传失败
                layer.closeAll('loading');
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                //上传成功
            }
        })
        upload.render({  //上传流程图
            elem: '#img3'
            ,url: 'uploadproductflow'
            ,accept: 'images'
            ,before:function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index,file,result) {
                    $('#demo3').attr('height','120px');
                    $('#demo3').attr('src',result);
                })
            }
            ,done: function (res) {
                //如果上传失败
                layer.closeAll('loading');
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                //上传成功
            }
        })
        jQuery.ajax({
            url: "selectcountproduct",
            type: "get",
            dataType: "text",
            success: function (res) {
                count = res;
                laypage.render({
                    elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
                    , count: count//数据总数，从服务端得到
                    , limit: 10
                    , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                    , limits: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
                    , jump: function (obj, first) {
                        //obj包含了当前分页的所有参数，比如：
                        console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                        console.log(obj.limit); //得到每页显示的条数
                        //首次不执行
                        if (!first) {
                            table.reload('idTest', {
                                url: 'selectproductlimit',
                                where: {"a": obj.curr, "b": obj.limit},//设定异步数据接口的额外参数
                                //,height: 300
                            });
                        }
                    }
                });
            }
        })
        //监听工具条
        table.on('tool(demo)', function (obj) {
            var data = obj.data;
            console.log(data)
            if (obj.event === 'detail') {
                layer.msg('ID：' + data.id + ' 的查看操作');
            } else if (obj.event === 'del') {
                layer.confirm('真的删除么', function (index) {
                    obj.del();
                    $.ajax({
                        url: "deleteproduct",
                        data: JSON.stringify(data),
                        type: "post",
                        dataType: "json",
                        contentType: "application/json"

                    })
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.alert('编辑行：<br>' + JSON.stringify(data))
            }
        });
        var $ = layui.$, active = {
            getCheckData: function () { //获取选中数据
                layer.confirm('真的删除么', function (index) {
                    var checkStatus = table.checkStatus('idTest')
                        , data = checkStatus.data;
                    console.log(JSON.stringify(data));
                    console.log(index)
                    $.ajax({
                        url: "deleteproducts",
                        data: JSON.stringify(data),
                        contentType: 'application/json;charset=utf-8',
                        type: "post",
                        success: function () {
                            table.reload('idTest', {
                                url: 'selectproductlimit',
                                where: {"a": 1, "b": 10},
                                //,height: 300
                            });
                            layer.msg("删除成功")
                        }
                    })
                    //layer.alert(JSON.stringify(data));
                    /*layer.close(index);*/
                })
            }
            , getCheckLength: function () { //获取选中数目
                var checkStatus = table.checkStatus('idTest')
                    , data = checkStatus.data;
                layer.msg('选中了：' + data.length + ' 个');
            }
            , isAll: function () { //验证是否全选
                var checkStatus = table.checkStatus('idTest');
                layer.msg(checkStatus.isAll ? '全选' : '未全选')
            }
        };
        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
    function quxiao() {
        layer.closeAll();
    }
    function tijiao(){
        var object1 = new Object();
        object1.type_name=$("#title2").val();
        console.log(object1.type_name)
        $.ajax({
            url:"insertproducttype",
            data:object1,
            type:"POST",
            success:function f() {
                layer.closeAll();
                product()
            }
        })
        layer.closeAll();
    }
    function tijiao2(){
        var object2 = new Object();
        object2.id=$("#title3").val();
        $.ajax({
            url:"deleteproducttype",
            data:object2,
            type:"POST",
            success:function f() {
                layer.closeAll();
                product()
            }
        })
    }
    function sub() {
        // 读取 text
        layer.confirm('真的添加么', function (index) {
            var product_details = new Object();
            product_details.img_name = $("#img_name").val();
            product_details.characteristic = $("#characteristic").val();
            product_details.area = $("#area").val();
            product_details.patent = $("#patent").val();
            var object = new Object();
            object.name = $("#name").val();
            object.price = $("#price").val();
            object.batch_quantity = $("#batch_quantity").val();
            object.guide = $("#guide").val();
            object.type = $('input[name="type"]:checked').val();
            object.product_details = product_details;
            $.ajax({
                url: "insertproduct",
                type: "POST",
                data: JSON.stringify(object),
                dataType: "json",
                contentType: "application/json",
                success:function () {
                    layer.msg("添加成功")
                    product()
                },
                error:function () {
                    layer.msg("添加成功")
                    product()
                }
            })
        })
    }
    function sub3() {
        layer.confirm('真的添加么', function (index) {
            var object = new Object();
            object.text=$("#flow_text").val();
            $.ajax({
                url: "insertflows",
                type: "POST",
                data: object,
                success:function f() {
                    $("#flow_text").val("");
                    $('#demo3').attr('height','0px');
                    $('#demo3').attr('src',"");
                    layer.msg("添加成功")
                }

            })
        })
    }


    function del() {
        layer.open({
            type: 1
            //,area: '[600px,600px]'
            ,content: '<input id="title3" type="text"  required lay-verify="required" placeholder="请输入删除的id" autocomplete="off" class="layui-input">'
            ,btn: ['删除', '取消']
            ,btn1: function(index, layero){
                tijiao2()
            }
            ,btn2: function(index, layero){
                quxiao()
            }
            ,closeBtn:0
        })
    }
    function insert() {
        layer.open({
            type: 1
            ,area: '[600px,600px]'
            ,content: '<input id="title2" type="text"  required lay-verify="required" placeholder="请输入添加的类型" autocomplete="off" class="layui-input">'
            ,btn: ['添加', '取消']
            ,btn1: function(index, layero){
                tijiao()
            }
            ,btn2: function(index, layero){
                quxiao()
            }
            ,closeBtn:0
        })
    }
</script>
</body>
</html>