
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>宇景</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../qianduan/Main/css/common.css">
	<link rel="stylesheet" href="../qianduan/Main/css/commomMain.css">
	<link rel="stylesheet" href="../qianduan/Main/services/css/support.css">
	<link rel="stylesheet" type="text/css" href="../qianduan/Main/css/commom_media.css"/>
	<link rel="stylesheet" href="../qianduan/Main/js/layui/css/layui.css">
	<link rel="stylesheet" type="text/css" href="../qianduan/Main/css/commom_media.css" />
	<link rel="stylesheet" type="text/css" href="../qianduan/Main/services/css/support_media.css" />
</head>

<body>
		<nav id="mynav" class="pc">
				<div>
					<div>
						<h1 id="logo"><a href="../"><img src="../qianduan/img/logo.png" alt=""></a></h1>
					</div>
					<div class="links">
						<ul class="nav navbar-nav">
							<li><a href="../">首&nbsp;&nbsp;&nbsp;页</a></li>
							<li id="down"><a href="../Prouce_center/index">产品中心</a>
								<div id="mynav_procude_center" class="pc">
									<div id="mynav_procude_center_left">
										<ul>
											<li><a href="">> YJ-S 成套系统</a></li>
											<li><a href="">> YJ-MPSS 蛋白质分离器</a></li>
											<li><a href="">> YJ-MFCB 复合型生物机械过滤器</a></li>
											<li><a href="">> YJ-ST 多功能生态处理器</a></li>
											<li><a href="">> YJ-UV 紫外线消毒处理器</a></li>
											<li><a href="">>YJ-PPB 养殖池</a></li>
											<li><a href="">> YJ-PARTS 养殖池相关配件</a></li>
										</ul>
									</div>
									<div id="mynav_procude_center_right">
										<div class="pre_img">
											<img src="" alt="">
										</div>
									</div>
								</div>
								<div id="toc"></div>
							</li>

							<li><a href="../soltion/index">解决方案</a></li>
							<li><a href="../physical/index">实物案例</a></li>
							<li><a href="../services/index">技术服务</a></li>
							<li><a href="../profile/index">企业介绍</a></li>
							<li><a href="../news/index">新闻资讯</a></li>
							<li><a href="../contact/index">联系我们</a></li>
							<li><a href="">CM/EN</a></li>
						</ul>
					</div>
		
					<div id="sear">
						<div id="searchicon">
							<img src="../qianduan/img/search.png" alt="">
							<div id="amazing"></div>
						</div>


						<div id="search" class="pc">
							<p><span class="search_top_left">搜索宇景网站</span><span id="search_top_off">关闭</span></p>
							<br>
							<form action="" id="search_form">
								<input id="search_form_text" type="text" placeholder="请输入您要搜索的关键词">
								<input id="search_form_btn" type="button" value="SEARCH">
							</form>
						</div>
					</div>
				</div>
			</nav>

	<div id="banner" class="pc">
		<img src="../qianduan/img/mainbanner.png" alt="">
	</div>

	<div class="main pc" id="center">
		<div id="center_left" class="floatl">
			<div id="center_left_top">
				<p class="center_left_top_tit">T</p>
				<p class="center_left_top_txt">
					<span>技术服务</span><br>
					<span>echnical services</span>
				</p>
			</div>
			<div id="center_left_list">
				<ul>
					<li class="cliked"><a href="../services/index">
						<p><span>常见问题</span><img class="left_arrowr" src="../qianduan/img/left_arrowr_rblue.png" alt=""></p>
					</a></li>

					<li><a href="../services/process">
						<p><span>服务流程</span><img class="left_arrowr" src="../qianduan/img/left_arrowr_r.png" alt=""></p>
					</a></li>

					<li><a href="../services/support">
						<p><span>服务支持</span><img class="left_arrowr" src="../qianduan/img/left_arrowr_r.png" alt=""></p>
					</a></li>
				</ul>
			</div>
		</div>

		<div id="center_right" class="floatr">
			<div id="center_right_top">
				<span  class="floatl">
					<h3>服务支持</h3> / services support
				</span>
				<span class="floatr">
					<img class="topmap" src="../qianduan/img/pos.png" alt="">
					当前位置：<a href="../">首页</a>><a href="./index">技术服务</a>><a href="../services/process">服务流程</a>
				</span>
			</div>

			<div id="center_right_main" >
				<img th:src="${support.img}" src="../qianduan/Main/services/img/support.png" alt="">
				<div th:utext="${support.text}" style="widht:100%;height:100%;word-wrap: break-word">
					<p>广州宇景水产科技有限公司是从事水产养殖设备、工厂化循环水养殖系统、源水处理系统、海洋馆维生系统设备、水产养殖工程设计、自动化控制设备技术的研发、制造、技术咨询的专业公司。</p>
					<p>我们的业务范围:<br>
						创新、领先是公司的宗旨。公司自2009年成立以来,在中国水产科学研究院南海水产研究所、黄海水产研究所、珠江水产研究所、中国科学院南海海洋研究所的技术支持下,坚定走自主研发、自主创新之路。<br>
						我们团结协作,共同努力,先后自主创新发明了CL全封闭工厂循环水养殖系统新工艺,发明了循环挂膜技术(CH)、多泵组合节能技术( MPC )和二次泡沫分离二_次臭氧消毒工艺技术(
						2FS+20D).在工厂化循环水系统设备配套方面,发明了旋流式蛋白质分离器、生物机械过滤器、智能型自动投饵机、生态综合处理器等一批获有发明专利的配套产品 ,为全封闭工厂化循环水养殖系统安全、稳定、可靠运行，奠定了坚实的基础。</p>
					<p>我们的品牌释义:<br>
						我们坚持以信立业、诚信合作、信誉至上的经营理念。<br>
						我们坚持以质取胜、专业品质、不断创新的企业精神。 <br>
						我们坚持提供准确、实用可靠、环保节能的系统方案。<br>
						我们坚持服务周到、产品三包、系统终身维护的承诺。<br>
						创新才能生存、创新才能发展、创新才能领先,我们不会停止脚步,我们还将继续创新。. . . .，</p>
				</div>
			</div>
		</div>
	</div>

	</div>
	<!-- 页脚 -->
	<footer id="footer_body" class="pc">
			<div id="footer">
				<div id="footer_left">
					<img src="../qianduan/img/footer_logo.png" alt="">
					<span class="footer_txt_top"><b>联系电话</b>：020-36013290</span>
					<span><b>邮箱</b>：3418547545@qq.com</span>
					<span><b>地址</b>：广州市白云区黄石西路466号318房</span>
				</div>
	
				<div id="footer_right">
					<!-- 1  产品中心-->
					<ul>
						<li class="footer_right_top">产品中心</li>
						<li>
							<a href="">YJ-S 成套系统</a>
						</li>
						<li>
							<a href="">MJ-MPSS 蛋白质分离器</a>
						</li>
						<li>
							<a href="">YJ-MFCB 复合型生物机械过滤器</a>
						</li>
						<li>
							<a href="">YJ-ST 多功能生态处理器</a>
						</li>
						<li>
							<a href="">YJ-PPB 养殖池</a>
						</li>
						<li>
							<a href="">YJ-PARTS 养殖池相关配件</a>
						</li>
					</ul>
					<!-- 2 实物案例-->
					<ul>
						<li class="footer_right_top">实物案例</li>
						<li>
							<a href="">YJ-S 成套系统</a>
						</li>
						<li>
							<a href="">MJ-MPSS 蛋白质分离器</a>
						</li>
						<li>
							<a href="">YJ-MFCB 复合型生物机械过滤器</a>
						</li>
						<li>
							<a href="">YJ-ST 多功能生态处理器</a>
						</li>
						<li>
							<a href="">YJ-PPB 养殖池</a>
						</li>
						<li>
							<a href="">YJ-PARTS 养殖池相关配件</a>
						</li>
					</ul>
					<!-- 3 解决方案-->
					<ul>
						<li class="footer_right_top">解决方案</li>
						<li>
							<a href="">室内养殖</a>
							</a>
						</li>
						<li>
							<a href="">室外养殖</a>
						</li>
						<li>
							...
						</li>
						<li>
							<a href=""></a>
						</li>
						<li>
							<a href=""></a>
						</li>
						<li>
							<a href=""></a>
						</li>
						<li>
							<a href=""></a>
						</li>
					</ul>
					<!-- 4 技术服务-->
					<ul>
						<li class="footer_right_top">技术服务</li>
						<li>
							<a href="">常见问题</a>
						</li>
						<li>
							<a href="">服务流程</a>
						</li>
						<li>
							<a href="">服务支持</a>
						</li>
						<li>
							<a href=""></a>
						</li>
						<li>
							<a href=""></a>
						</li>
						<li>
							<a href=""></a>
						</li>
						<li>
							<a href=""></a>
						</li>
					</ul>
					<!-- 5 公司介绍-->
					<ul>
						<li class="footer_right_top">公司介绍</li>
						<li>
							<a href="">企业介绍</a>
						</li>
						<li>
							<a href="">企业资质</a>
						</li>
						<li>
							<a href="">企业文化</a>
						</li>
						<li>
							<a href="">组织架构</a>
						</li>
						<li>
							<a href="">公司环境</a>
						</li>
						<li>
							<a href=""></a>
						</li>
						<li>
							<a href=""></a>
						</li>
					</ul>
					<!-- 6 新闻中心-->
					<ul>
						<li class="footer_right_top">新闻中心</li>
						<li>
							<a href="">公司新闻</a>
						</li>
						<li>
							<a href="">行业新闻</a>
						</li>
						<li>
							<a href="">客户反馈</a>
						</li>
						<li>
							<a href=""></a>
						</li>
						<li>
							<a href=""></a>
						</li>
						<li>
							<a href=""></a>
						</li>
						<li>
							<a href=""></a>
						</li>
					</ul>
				</div>
			</div>
			<div id="footer_bottom">
				<div>
				<span id="footer_bottom_left">
					Copyright © 2018 广州宇景水产科技有限公司 版权所有
				</span>
				<span id="footer_bottom_right">
					<ul>
						<li>
							<a href="">法律声明</a>
						</li>
						<li>
							<a href="">企业邮箱</a>
						</li>
						<li>
							<a href="">联系我们</a>
						</li>
					</ul>
				</span>
				</div>
			</div>
	</footer>

	<div id="float" class="pc">
		<ul>
			<li>
				<a href=""><img src="../qianduan/Main/img/float1.png" alt=""></a>
			</li>
			<li><span>020-36013290</span><img src="../qianduan/Main/img/float2.png" alt=""></li>
			<li>
				<a href=""><img src="../qianduan/Main/img/float3.png" alt=""></a>
			</li>
			<li>
				<a href=""><img src="../qianduan/Main/img/float4.png" alt=""></a>
			</li>
			<li id="totop"><img src="../qianduan/Main/img/float5.png" alt=""></li>
		</ul>
	</div>

	<!--移动端-->
		<div class="visible-xs-block">
			<nav class="navbar navbar-default" id="m-nav" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
							<span class="sr-only">切换导航</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1 class="navbar-brand"><a href="./index.html"><img src="../../img/logo.png" id="m-logo" alt=""></a></h1>
					</div>
					<div class="collapse navbar-collapse" id="example-navbar-collapse">
						<ul class="nav navbar-nav">
							<li><a href="../">首&nbsp;&nbsp;&nbsp;页</a></li>
							<li><a href="index">产品中心</a></li>
							<li><a href="../soltion/index">解决方案</a></li>
							<li><a href="../physical/index">实物案例</a></li>
							<li><a href="../services/index">技术服务</a></li>
							<li><a href="../profile/index">企业介绍</a></li>
							<li><a href="../news/index">新闻资讯</a></li>
							<li><a href="../contact/index">联系我们</a></li>
							<li><a href="">CM/EN</a></li>
						</ul>
					</div>
				</div>
			</nav>
			<div class="mobile_banner" >
				<img src="../qianduan/img/mainbanner.png" alt="">
			</div>
			<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
				<ul class="layui-tab-title">
					<li class="layui-this ">常见问题</li>
					<li >服务流程</li>
					<li >服务支持</li>
				</ul>
				<div class="layui-tab-content height_auto">
					<div class="layui-tab-item layui-show">
						<div class="layui-collapse" lay-filter="test">
							<div class="layui-colla-item">
								<h2 class="layui-colla-title">新一代CL-3A工厂化循环水养殖系统</h2>
								<div class="layui-colla-content">
									<p>五年来公司在各研究所的技术支持下,通过科学创新、优化、提升、再创新后, 2010年推出了第-代创领YJ-1工厂化循环水养殖系统工艺流程</p>
								</div>
							</div>
							<div class="layui-colla-item">
								<h2 class="layui-colla-title">新一代CL-3A工厂化循环水养殖系统</h2>
								<div class="layui-colla-content">
									<p>五年来公司在各研究所的技术支持下,通过科学创新、优化、提升、再创新后, 2010年推出了第-代创领YJ-1工厂化循环水养殖系统工艺流程</p>
								</div>
							</div>
							<div class="layui-colla-item">
								<h2 class="layui-colla-title">新一代CL-3A工厂化循环水养殖系统</h2>
								<div class="layui-colla-content">
									<p>五年来公司在各研究所的技术支持下,通过科学创新、优化、提升、再创新后, 2010年推出了第-代创领YJ-1工厂化循环水养殖系统工艺流程</p>
								</div>
							</div>

						</div>
					</div>
					<div class="layui-tab-item ">
						<div style="padding: 20px; background-color: #F2F2F2;">
							<hr class="layui-row layui-col-space15">

							<div class="layui-col-md6">
								<img class="w100" src="../qianduan/Main/services/img/process_1.png" alt="">
								<div class="layui-card">
									<div class="layui-card-header">- 01 服务流程 Service Process </div>
									<div class="layui-card-body">
										广州宇景水产科技有限公司是从事水产养殖设备、工厂化循环水养殖系统、源水处理系统、海洋馆维生系统设备、水产养殖工程设计、自动化控制设备技术的研发、制造、技术咨询的专业公司。
									</div>
								</div>
							</div>
							<div class="layui-col-md6">
								<img class="w100" src="../qianduan/Main/services/img/process_2.png" alt="">
								<div class="layui-card">
									<div class="layui-card-header">- 02 服务流程 Service Process </div>
									<div class="layui-card-body">
										广州宇景水产科技有限公司是从事水产养殖设备、工厂化循环水养殖系统、源水处理系统、海洋馆维生系统设备、水产养殖工程设计、自动化控制设备技术的研发、制造、技术咨询的专业公司。
									</div>
								</div>
							</div>
							<div class="layui-col-md6">
								<img class="w100" src="../qianduan/Main/services/img/process_3.png" alt="">
								<div class="layui-card">

									<div class="layui-card-header">- 03 服务流程 Service Process </div>
									<div class="layui-card-body">
										广州宇景水产科技有限公司是从事水产养殖设备、工厂化循环水养殖系统、源水处理系统、海洋馆维生系统设备、水产养殖工程设计、自动化控制设备技术的研发、制造、技术咨询的专业公司。
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="layui-tab-item">
						<br>
						<img class="w100" src="../qianduan/Main/services/img/support.png" alt="">
						<p>广州宇景水产科技有限公司是从事水产养殖设备、工厂化循环水养殖系统、源水处理系统、海洋馆维生系统设备、水产养殖工程设计、自动化控制设备技术的研发、制造、技术咨询的专业公司。</p></br>
						<p>我们的业务范围:<br>
							创新、领先是公司的宗旨。公司自2009年成立以来,在中国水产科学研究院南海水产研究所、黄海水产研究所、珠江水产研究所、中国科学院南海海洋研究所的技术支持下,坚定走自主研发、自主创新之路。<br><br>
							我们团结协作,共同努力,先后自主创新发明了CL全封闭工厂循环水养殖系统新工艺,发明了循环挂膜技术(CH)、多泵组合节能技术( MPC )和二次泡沫分离二_次臭氧消毒工艺技术(
							2FS+20D).在工厂化循环水系统设备配套方面,发明了旋流式蛋白质分离器、生物机械过滤器、智能型自动投饵机、生态综合处理器等一批获有发明专利的配套产品 ,为全封闭工厂化循环水养殖系统安全、稳定、可靠运行，奠定了坚实的基础。</p></br>
						<p>我们的品牌释义:<br>
							我们坚持以信立业、诚信合作、信誉至上的经营理念。<br>
							我们坚持以质取胜、专业品质、不断创新的企业精神。 <br>
							我们坚持提供准确、实用可靠、环保节能的系统方案。<br>
							我们坚持服务周到、产品三包、系统终身维护的承诺。<br>
							创新才能生存、创新才能发展、创新才能领先,我们不会停止脚步,我们还将继续创新。. . . .，</p>
					</div>
				</div>
			</div>
		</div>
		<script src="../qianduan/Main/js/common.js"></script>
		<script src="../qianduan/Main/services/js/index.js"></script>
		<script src="../qianduan/Main/js/layui/layui.js"></script>
	<script>
		layui.use('element', function () {
			var $ = layui.jquery
				, element = layui.element;

		});

	</script>
</body>

</html>