<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>宇景</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../qianduan/Main/css/commomMain.css">
	<link rel="stylesheet" href="../qianduan/Main/css/common.css">
	<link rel="stylesheet" href="../qianduan/Main/contact/css/index.css">
	<link rel="stylesheet" href="../qianduan/Main/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../qianduan/Main/css/commom_media.css"/>
	<link rel="stylesheet" type="text/css" href="../qianduan/Main/contact/css/img_hover.css">
	<link rel="stylesheet" type="text/css" href="../qianduan/Main/contact/css/index_media.css" />
</head>

<body>
	<!-- pc -->
	<nav id="mynav" class="pc">
			<div>
				<div>
					<h1 id="logo"><a href="../"><img src="../qianduan/img/logo.png" alt=""></a></h1>
				</div>
				<div class="links">
					<ul class="nav navbar-nav">
						<li><a href="../">首&nbsp;&nbsp;&nbsp;页</a></li>
						<li id="down"><a href="../Prouce_center/index">产品中心</a>
							<div id="mynav_procude_center" class="pc">
								<div id="mynav_procude_center_left">
									<ul>
										<li><a href="">> YJ-S 成套系统</a></li>
										<li><a href="">> YJ-MPSS 蛋白质分离器</a></li>
										<li><a href="">> YJ-MFCB 复合型生物机械过滤器</a></li>
										<li><a href="">> YJ-ST 多功能生态处理器</a></li>
										<li><a href="">> YJ-UV 紫外线消毒处理器</a></li>
										<li><a href="">>YJ-PPB 养殖池</a></li>
										<li><a href="">> YJ-PARTS 养殖池相关配件</a></li>
									</ul>
								</div>
								<div id="mynav_procude_center_right">
									<div class="pre_img">
										<img src="" alt="">
									</div>
								</div>
							</div>
							<div id="toc"></div>
						</li>
	
						<li><a href="../soltion/index">解决方案</a></li>
						<li><a href="../physical/index">实物案例</a></li>
						<li><a href="../services/index">技术服务</a></li>
						<li><a href="../profile/index">企业介绍</a></li>
						<li><a href="../news/index">新闻资讯</a></li>
						<li><a href="index">联系我们</a></li>
						<li><a href="">CM/EN</a></li>
					</ul>
				</div>
	
				<div id="sear">
					<div id="searchicon">
						<img src="../qianduan/img/search.png" alt="">
						<div id="amazing"></div>
					</div>
					
					<div id="search" class="pc">
						<p><span class="search_top_left">搜索宇景网站</span><span id="search_top_off">关闭</span></p>
						<br>
						<form action="" id="search_form">
							<input id="search_form_text" type="text" placeholder="请输入您要搜索的关键词">
							<input id="search_form_btn" type="button" value="SEARCH">
						</form>
					</div>
				</div>
			</div>
		</nav>
	<div id="banner" class="pc">
		<img src="../qianduan/img/mainbanner.png" alt="">
	</div>
	<div class="main pc"  id="center" >
		<div id="center_left" class="floatl">
			<div id="center_left_top">
				<p class="center_left_top_tit">C</p>
				<p class="center_left_top_txt">
					<span>联系我们</span><br>
					<span>ontact us</span>
				</p>
			</div>
			<div id="center_left_list">
				<ul>
					<li class="clicked">
						<p> <span>联系我们</span><img class="left_arrowr" src="../qianduan/img/left_arrowr_rblue.png" alt=""></p>
					</li>
				</ul>
			</div>
		</div>

		<div id="center_right" class="floatr">
			<div id="center_right_top">
				<span class="floatl">
					<h3>联系我们</h3> / contact us
				</span>
				<span class="floatr">
					<img class="topmap" src="../qianduan/img/pos.png" alt="">
					当前位置：<a href="../">首页</a> > <a href="index">联系我们</a>
				</span>
			</div>

			<div id="center_right_main">
				<div class="top">
					<div class="hovereffect"><img class="icon img-responsive" src="../qianduan/Main/contact/img/icon_tel.png" alt="">
						<p class="tit">联系电话</p>
						<p class="txt">020-36013290</p>
					</div>
					<div class="hovereffect"><img class="icon img-responsive" src="../qianduan/Main/contact/img/icon_map.png" alt="">
						<p class="tit">公司地址</p>
						<p class="txt">广州市白云区黄石西路466号318房</p>
					</div>
					<div class="hovereffect"><img class="icon img-responsive" src="../qianduan/Main/contact/img/icon_mail.png" alt="">
						<p class="tit">企业邮箱</p>
						<p class="txt">3418547545@qq.com</p>
					</div>
				</div>
				<img class="map" src="../qianduan/Main/contact/img/map.png" alt="">
				<form id="contact" action="">
					<div class="namebox">
						<p>姓名</p>
						<input name="name" type="text" placeholder="请输入姓名" required>
					</div>

					<div class="telbox floatl">
						<p>电话</p>
						<input name="tel" type="text" placeholder="请输入电话" maxlength="11" required>
					</div>
					<div class="emailbox floatr">
						<p>邮箱</p>
						<input name="email" type="email" placeholder="请输入邮箱" required>
					</div>
					<div class="suggestbox">
						<p>反馈意见</p>
						<textarea name="suggest" placeholder="请输入..."></textarea>
					</div>
					<input class="sumbit" type="submit" value="提交">
				</form>
			</div>

		</div>
	</div>
	<!-- 页脚 -->
		<footer id="footer_body" class="pc">
		<div id="footer">
			<div id="footer_left">
				<img src="../qianduan/img/footer_logo.png" alt="">
				<span class="footer_txt_top"><b>联系电话</b>：020-36013290</span>
				<span><b>邮箱</b>：3418547545@qq.com</span>
				<span><b>地址</b>：广州市白云区黄石西路466号318房</span>
			</div>

			<div id="footer_right">
				<!-- 1  产品中心-->
				<ul>
					<li class="footer_right_top">产品中心</li>
					<li>
						<a href="">YJ-S 成套系统</a>
					</li>
					<li>
						<a href="">MJ-MPSS 蛋白质分离器</a>
					</li>
					<li>
						<a href="">YJ-MFCB 复合型生物机械过滤器</a>
					</li>
					<li>
						<a href="">YJ-ST 多功能生态处理器</a>
					</li>
					<li>
						<a href="">YJ-PPB 养殖池</a>
					</li>
					<li>
						<a href="">YJ-PARTS 养殖池相关配件</a>
					</li>
				</ul>
				<!-- 2 实物案例-->
				<ul>
					<li class="footer_right_top">实物案例</li>
					<li>
						<a href="">YJ-S 成套系统</a>
					</li>
					<li>
						<a href="">MJ-MPSS 蛋白质分离器</a>
					</li>
					<li>
						<a href="">YJ-MFCB 复合型生物机械过滤器</a>
					</li>
					<li>
						<a href="">YJ-ST 多功能生态处理器</a>
					</li>
					<li>
						<a href="">YJ-PPB 养殖池</a>
					</li>
					<li>
						<a href="">YJ-PARTS 养殖池相关配件</a>
					</li>
				</ul>
				<!-- 3 解决方案-->
				<ul>
					<li class="footer_right_top">解决方案</li>
					<li>
						<a href="">室内养殖</a>
						</a>
					</li>
					<li>
						<a href="">室外养殖</a>
					</li>
					<li>
						...
					</li>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
				</ul>
				<!-- 4 技术服务-->
				<ul>
					<li class="footer_right_top">技术服务</li>
					<li>
						<a href="">常见问题</a>
					</li>
					<li>
						<a href="">服务流程</a>
					</li>
					<li>
						<a href="">服务支持</a>
					</li>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
				</ul>
				<!-- 5 公司介绍-->
				<ul>
					<li class="footer_right_top">公司介绍</li>
					<li>
						<a href="">企业介绍</a>
					</li>
					<li>
						<a href="">企业资质</a>
					</li>
					<li>
						<a href="">企业文化</a>
					</li>
					<li>
						<a href="">组织架构</a>
					</li>
					<li>
						<a href="">公司环境</a>
					</li>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
				</ul>
				<!-- 6 新闻中心-->
				<ul>
					<li class="footer_right_top">新闻中心</li>
					<li>
						<a href="">公司新闻</a>
					</li>
					<li>
						<a href="">行业新闻</a>
					</li>
					<li>
						<a href="">客户反馈</a>
					</li>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
				</ul>
			</div>
		</div>
		<div id="footer_bottom">
			<div>
			<span id="footer_bottom_left">
				Copyright © 2018 广州宇景水产科技有限公司 版权所有
			</span>
			<span id="footer_bottom_right">
				<ul>
					<li>
						<a href="">法律声明</a>
					</li>
					<li>
						<a href="">企业邮箱</a>
					</li>
					<li>
						<a href="">联系我们</a>
					</li>
				</ul>
			</span>
			</div>
		</div>
	</footer>

	<div id="float" class="pc">
		<ul>
			<li>
				<a href=""><img src="../qianduan/img/float1.png" alt=""></a>
			</li>
			<li><span>020-36013290</span><img src="../qianduan/img/float2.png" alt=""></li>
			<li>
				<a href=""><img src="../qianduan/img/float3.png" alt=""></a>
			</li>
			<li>
				<a href=""><img src="../qianduan/img/float4.png" alt=""></a>
			</li>
			<li id="totop"><img src="../qianduan/img/float5.png" alt=""></li>
		</ul>
	</div>



	<!--移动端适配-->
	<div class="visible-xs-block">
		<nav class="navbar navbar-default" id="m-nav" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
						<span class="sr-only">切换导航</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1 class="navbar-brand" style="margin-top: 1px;"><a href="index.html"><img src="../qianduan/img/logo.png" id="m-logo" alt=""></a></h1>
				</div>
				<div class="collapse navbar-collapse" id="example-navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="../">首&nbsp;&nbsp;&nbsp;页</a></li>
						<li><a href="../Prouce_center/index">产品中心</a></li>
						<li><a href="../soltion/index">解决方案</a></li>
						<li><a href="../physical/index">实物案例</a></li>
						<li><a href="../services/index">技术服务</a></li>
						<li><a href="../profile/index">企业介绍</a></li>
						<li><a href="../news/index">新闻资讯</a></li>
						<li><a href="../contact/index">联系我们</a></li>
						<li><a href="">CM/EN</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="mobile_banner" >
			<img src="../qianduan/img/mainbanner.png" alt="">
		</div>
		<div class="layui-tab layui-tab-brief " lay-filter="docDemoTabBrief">
			<ul class="layui-tab-title">
				<li class="layui-this text_center text_center_lianxi">联系我们</li>
			</ul>
			<div class="layui-tab-content height_auto">
				<div class="layui-tab-item layui-show">
					<div class="container">
						<ul class="row">
							<li>
								<div class="layui-row layui-col-space15">
									<div class="layui-col-md6">
										<div class="top">
											<div class="hovereffect"><img class="icon img-responsive marginauto" src="../qianduan/Main/contact/img/icon_tel.png" alt="">
												<p class="tit">联系电话</p>
												<p class="txt">020-36013290</p>
											</div>
											<div class="hovereffect"><img class="icon img-responsive marginauto" src="../qianduan/Main/contact/img/icon_map.png" alt="">
												<p class="tit">公司地址</p>
												<p class="txt">广州市白云区黄石西路466号318房</p>
											</div>
											<div class="hovereffect"><img class="icon img-responsive marginauto" src="../qianduan/Main/contact/img/icon_mail.png" alt="">
												<p class="tit">企业邮箱</p>
												<p class="txt">3418547545@qq.com</p>
											</div>
										</div>
										<img class="map w100" src="../qianduan/Main/contact/img/map.png" alt="">
										<form style="background-color: white;" action="">
											<div>
												<p>&nbsp;姓名</p>
												<input class="input_wid100" name="name" type="text" placeholder="&nbsp;请输入姓名" required>
											</div>
											<hr />
											<div>
												<p>&nbsp;电话</p>
												<input name="tel" type="text" placeholder="&nbsp;请输入电话" maxlength="11" required>
											</div>
											<hr />
											<div>
												<p>&nbsp;邮箱</p>
												<input name="email" class="input_wid100" type="email" placeholder="&nbsp;请输入邮箱" required>
											</div>
											<hr />
											<div>
												<p>&nbsp;反馈意见</p>
												<textarea name="suggest" class="input_wid100" placeholder="&nbsp;请输入..."></textarea>
											</div>
											<input class="sumbit input_sub" type="submit" value="提交">
										</form>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src="../qianduan/Main/js/common.js"></script>
</body>

</html>